<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/shop/productList.css" />
</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <main class="centered">
        <div class="card">
            <!-- These are coming from  -->
            <!-- products.push({ -->
                <!-- productName: req.body.newProductName, -->
                <!-- productPrice: req.body.newProductPrice, -->
            <!-- }); -->
            <!-- section in adminRoute.js file. -->
            <div><%= product.productName %></div>
            <img 
                src="/<%= product.productImg %>"
                alt=<%= product.productName %> 
                height="300"
            >
            <div><%= product.productDesc %></div>
            <div>$<%= product.productPrice %></div>
            <%- include(
                '../includes/buttons/addCartButton.ejs', 
                { productId: product.id }) 
            %>
        </div>
    </main>

</body>
</html>