<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/shop/productList.css" />
</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <main>
        <% if (orderList.length > 0) { %>
            <% let orderNumber = 1 %>
            <% orderList.forEach((order) => { %>
                <p>Order <%= orderNumber %></p>
                <a href="/orders/<%= userId %>-<%= orderNumber %>">Get Invoice</a>
                <% order.forEach((product) => { %>
                    <ul>
                        <li>
                            <%= product.productName %> (<%= product.qty %>)
                        </li>
                    </ul>
                <% }); %>
                <% orderNumber++ %>
            <% }); %>
        <% } else { %>
            <p>Nothing to show in orders page yet!</p>
        <% } %>
    </main>

</body>
</html>